.input-box {
    border: 1px solid rgb(225, 224, 224);
    border-radius: 4px;
    padding: 6px;
    background: transparent;
    transition: border-color 0.3s ease;
}

.input-box:focus {
    border-color: rgb(166, 166, 195);
    box-shadow: 0 0 5px rgba(121, 121, 156, 0.5);
    outline: none;
}

.button {
    border: 1px solid rgb(225, 224, 224);
    border-radius: 9999px;
    padding: 2px;
    outline: none;
    background-color: #a855f7;
    color: white;
}

.button:hover {
    background-color: #9736f2;
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

td::before {
    content: '\00a0\00a0';
}

td::after {
    content: '\00a0\00a0';
}

td:first-child {
    font-weight: bold;
    color: rgb(49, 49, 105);
}