.alreadyExpired .cell-element {
    font-weight: bold;
    background-color: #b91c1c;
    color: white;
}

.expiringSoon .cell-element {
    font-weight: bold;
    background-color: #a16207;
    color: white;
}

.otherDomains .cell-element {
    font-weight: bold;
    background-color: #15803d;
    color: white;
}